<div class="d-flex justify-content-center align-items-center bg-info vh-50">
  <div class="text-center">
    <p class="fs-3 fw-medium">support works!</p>
    <ul class="d-flex fs-4 m-0 p-0 justify-content-center">
      <li class="px-2 m-0"><a class="text-black fw-medium" routerLink="item1">item1</a></li>
      <li class="px-2 m-0"><a class="text-black fw-medium" routerLink="item2">item2</a></li>
      <li class="px-2 m-0"><a class="text-black fw-medium" routerLink="item3">item3</a></li>
    </ul>
  </div>
</div>
